*{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;

}
.main{
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

@import 'header';
@import 'res';
@import 'footer';
@import 'modal';
@import 'media';
